@media ( min-width: 1024px ) {

}

/* tablet */
@media ( min-width: 740px) and ( max-width: 1023px) {

}

/* mobile */
@media ( max-width: 739px ) {
    .avatar-img {
        width: 70px;
        height: 70px;
        margin:10px
    }

    .menu-item span{
        display: none;
    }

    .content-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .user-form-item {
        width: 40px;
    }
}